* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

#container #biker {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 120px;
    left: 20px;
}

#container #biker img {
    height: 150px;
    width: 150px;
}

.bikerActive {
    animation: animatebiker 0.5s linear infinite;
}

@keyframes animatebiker {

    0%,
    100% {
        bottom: 128px;
    }

    45%,
    55% {
        bottom: 250px;
    }
}

#container #block {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 100px;
}

.blockActive {
    animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 50px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 50px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 10px;
    width: 200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 40px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }

    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 0;
}
#hscore {
    height: auto;
    width: auto;
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 0;
}

#gameOver {
    display: none;
    font-size: 50px;
    margin-left: 75px;
    position: absolute;
    left: calc(50% - 181px);
    width: 362px;
    height: 80px;
    color: #a03939;
}
